:root {
  --color-black: #1b1d1f;
  --font-waight-text: 400;
  --font-waight-header: 600;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-black);
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 100%;
  margin: auto;
  background: linear-gradient(270.23deg, #a5deff 1.34%, #fcfefe 99.8%);
}
/* ============ MAIN =========== */

.main-page {
  max-width: 1170px;
  height: 720px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  /* border: 1px solid red; */
}

.main-page-text-conteiner {
  background: #ffffff;
  border-radius: 40px;
  padding: 60px;
  margin: 124px 24px 120px 86px;
  width: 453px;
}

.gus-main-page-logo {
  width: 100px;
  height: 32px;
  position: absolute;
  top: 32px;
  left: 0;
}

.main-page-text-header-one {
  margin-bottom: 60px;
  font-weight: var(--font-waight-header);
  font-size: 16px;
  line-height: 1.5;
}
.main-page-text-header-two {
  margin-bottom: 24px;
  font-weight: var(--font-waight-header);
  font-size: 64px;
  line-height: 1.125;
}
.main-page-text {
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
}

.main-page-text {
  margin-bottom: 32px;
}

.main-page-btn {
  width: 172px;
  height: 48px;
  background: #ff6b0a;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.gus-main-page-img {
  width: 668px;
  height: 720px;
}

/* ======= ABOUT GUS ======= */

.about-gus {
  background-color: #fff;
  width: 100%;
}

.about-gus-container {
  max-width: 1170px;
  /* border: 1px solid red; */
  margin: auto;
  padding-top: 24px;
  padding-bottom: 100px;
  text-align: center;
}

.about-gus-title {
  font-weight: var(--font-waight-header);
  font-size: 24px;
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 32px;
  width: 813px;
  margin-left: auto;
  margin-right: auto;
}

.about-gus-text {
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
  width: 772px;
  margin-left: auto;
  margin-right: auto;
}

.gus-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.gus-item {
  width: 374px;
  height: 510px;
}

.gus-item-title {
  margin-top: 8px;
  margin-bottom: 32px;
}

/* <!-- ======= FORM ====== --> */

.form-section {
  max-width: 100%;
  margin: auto;
  background: linear-gradient(270.23deg, #a5deff 1.34%, #fcfefe 99.8%);
  height: 724px;
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.form-box {
  width: 573px;
  /* height: 564px; */
  background: #ffffff;
  border-radius: 40px;
  padding: 32px 60px 60px 60px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

.form-box-title {
  margin-top: 32px;
  margin-bottom: 12px;
  font-weight: var(--font-waight-header);
  font-size: 24px;
  line-height: 1.5;
}

.form-box-text {
  margin-bottom: 24px;
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 48px;
}

.form-field-name {
  background: #ffffff;
  border: 1px solid #005bbb;
  border-radius: 8px;
  width: 453px;
  height: 60px;
  margin-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
}

.form-field-label {
  margin-bottom: 8px;
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
}

.form-field-email {
  background: #ffffff;
  border: 1px solid #005bbb;
  border-radius: 8px;
  width: 453px;
  height: 60px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
}

.form-box-btn {
  padding: 12px 24px;
  gap: 10px;
  width: 172px;
  height: 48px;
  background: #ff6b0a;
  border-radius: 8px;
  font-weight: var(--font-waight-text);
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  border: none;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
